In [18]:
import pandas as pd
import numpy as np
import os
import regex as re

In [19]:
df = pd.read_csv('HT_2013-2020.csv')
df

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,MO0480600,Independence,NaN,City,MO,Missouri,West North Central,JACKSON,Midwest,2,"Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,2,0,2,0
1,2016,TX2201200,Fort Worth,NaN,City,TX,Texas,West South Central,PARKER; DENTON; TARRANT,South,1B,"Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0
2,2016,TX2270100,Austin,NaN,City,TX,Texas,West South Central,WILLIAMSON; TRAVIS,South,1B,"Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0
3,2019,NV0020100,Las Vegas Metropolitan Police Department,NaN,City,NV,Nevada,Mountain,CLARK,West,1A,"Cities 1,000,000 or over",81,Human Trafficking,Commercial Sex Acts,15,0,4,0
4,2017,AZ0070500,Chandler,NaN,City,AZ,Arizona,Mountain,MARICOPA,West,2,"Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4412,2019,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0
4413,2019,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0
4414,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0
4415,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0
4416,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0

In [20]:
keep_cols = ['PUB_AGENCY_NAME', 'AGENCY_TYPE_NAME', 'STATE_NAME', 'COUNTY_NAME', 'OFFENSE_NAME', 'OFFENSE_SUBCAT_NAME', 'ACTUAL_COUNT']
df.drop([x for x in list(df.columns) if x not in keep_cols], inplace=True, axis=1)

In [21]:
df

,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_NAME,COUNTY_NAME,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT
0,Independence,City,Missouri,JACKSON,Human Trafficking,Commercial Sex Acts,2
1,Fort Worth,City,Texas,PARKER; DENTON; TARRANT,Human Trafficking,Involuntary Servitude,1
2,Austin,City,Texas,WILLIAMSON; TRAVIS,Human Trafficking,Involuntary Servitude,2
3,Las Vegas Metropolitan Police Department,City,Nevada,CLARK,Human Trafficking,Commercial Sex Acts,15
4,Chandler,City,Arizona,MARICOPA,Human Trafficking,Commercial Sex Acts,1
...,...,...,...,...,...,...,...
4412,Franklin,County,Kentucky,FRANKLIN,Human Trafficking,Involuntary Servitude,2
4413,Franklin,County,Kentucky,FRANKLIN,Human Trafficking,Involuntary Servitude,1
4414,Franklin,County,Kentucky,FRANKLIN,Human Trafficking,Commercial Sex Acts,1
4415,Franklin,County,Kentucky,FRANKLIN,Human Trafficking,Commercial Sex Acts,1
4416,Franklin,County,Kentucky,FRANKLIN,Human Trafficking,Commercial Sex Acts,1

In [22]:
# df.loc[(df['COUNTY_NAME'].str.count(';') > 0) & (df['ACTUAL_COUNT'] > 1), 'ACTUAL_COUNT'] 
# df['new count'] = np.where(
#     (df['COUNTY_NAME'].str.count(';') > 0) & (df['ACTUAL_COUNT'] > 1),
#     df['ACTUAL_COUNT'] // (df['COUNTY_NAME'].str.count(';') + 1),
#     df['ACTUAL_COUNT'])

In [23]:
group_cols = ['PUB_AGENCY_NAME', 'AGENCY_TYPE_NAME', 'STATE_NAME', 'COUNTY_NAME', 'OFFENSE_NAME', 'OFFENSE_SUBCAT_NAME']

df = (
df.groupby(group_cols)
.sum()
.reset_index()
)

In [24]:
try:
    os.mkdir(f'{os.getcwd()}\\HT_output')
except FileExistsError:
    pass

In [25]:
new_col_names = ['Agency Name', 'Agency Type', 'State', 'County', 'Offense Name', 'Sub Type', 'Number of Occurances']
df.to_excel(f'{os.getcwd()}\\HT_output\\trafficking_cleaned.xlsx', na_rep = 'NA', sheet_name='Cities', header=new_col_names, index=False)