In [1]:
import pandas as pd

In [38]:
df = pd.read_csv('calm_20_5_2020.csv', parse_dates=True, encoding='latin1')

df_rt = df[df['isRetweet'] == True]
df_rt.groupby('screenName').sum().sort_values(by='retweetCount', ascending=False)
print(df_rt)

C:\Users\pjame\AppData\Local\Temp\ipykernel_9084\2202379383.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_rt.groupby('screenName').sum().sort_values(by='retweetCount', ascending=False)

,Unnamed: 0,favorited,favoriteCount,truncated,replyToSID,id,replyToUID,retweetCount,isRetweet,retweeted,longitude,latitude
screenName,,,,,,,,,,,,
reddesert5s,5307,0,0,0,0.0,2523056971384131587,0.0,18857,2,0,0.0,0.0
softpxyne,3361,0,0,0,0.0,2524000985017040901,0.0,18857,2,0,0.0,0.0
ashthefakebetch,4347,0,0,0,0.0,1260638753049251842,0.0,9876,1,0,0.0,0.0
ASHLEY41674155,2176,0,0,0,0.0,1261700751983853573,0.0,9113,1,0,0.0,0.0
5Wildflower,16014,0,0,0,0.0,3779889972283580424,0.0,3289,3,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
jaymichaels,3865,0,0,0,0.0,1260906507232849920,0.0,1,1,0,0.0,0.0
CeciliaEgan1,2868,0,0,0,0.0,1261367718722170880,0.0,1,1,0,0.0,0.0
KanarioKa,4594,0,0,0,0.0,1260520500406685696,0.0,1,1,0,0.0,0.0
allconstruccion,77,0,0,0,0.0,1262891098462138381,0.0,0,1,0,0.0,0.0
trumpetwom,161,0,0,0,0.0,1262844620679057409,0.0,0,1,0,0.0,0.0